@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: 'Roboto', ui-sans-serif, system-ui, sans-serif;
  --font-serif: 'Playfair Display', ui-serif, Georgia, serif;
  --color-primary: #049645;
  --color-primary-hover:#007a3d;
  --color-secondary: rgba(246, 158, 0, 1);
  --color-red-error : rgb(252, 51, 93);
  --color-text-second :rgb(54, 65, 83);
  --color-text-second-light : rgb(152, 160, 174);
}

html {
  font-size: var(--font-size-base);
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Swiper product gallery styles */
.product-thumbs-swiper .swiper-slide-thumb-active {
  border-color: var(--color-primary) !important;
}
